VITE_API_URL="/"

# document parser
VITE_UPSTAGE_API_KEY=
# Toss
VITE_TOSS_CLIENT_KEY=

# Supabase jwt
SECRET_KEY=

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_KEY=
VITE_SUPABASE_SERVER_URL=
VITE_SUPABASE_SERVER_KEY=