/* ==================================================================================
   Body
   ================================================================================== */
body {
  margin: 0;
  overflow-y: scroll;
}
/* ==================================================================================
   Keditor UI
   ================================================================================== */
.keditor-ui {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
.keditor-ui,
.keditor-ui:before,
.keditor-ui:after {
  box-sizing: border-box;
}
.keditor-ui small,
.keditor-ui .small {
  font-size: 88%;
}
/* ==================================================================================
   opened-keditor-sidebar
   ================================================================================== */
/* body.opened-keditor-sidebar .keditor-content-area {
  margin-right: 260px;
} */
body.opened-keditor-sidebar #keditor-sidebar {
  right: 0;
  border-radius: 8px;
}
/* ==================================================================================
   highlighted-container-content
   ================================================================================== */
body.highlighted-container-content .keditor-container-content:before {
  border-color: #2eb2e4;
}
/* ==================================================================================
   Frame
   ================================================================================== */
.keditor-frame {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
}
/* ==================================================================================
   Content area
   ================================================================================== */

/* 레이아웃을 끌어다 놓는 위치  */
.keditor-content-area {
  height: calc(100vh - 300px);
  width: auto;
  margin:20px 0px 0px 0px;
}
/* ==================================================================================
   Sidebar
   ================================================================================== */
#keditor-sidebar {
  position: fixed;
  z-index: 100;
  top: 123px;
  height:calc(100vh - 155px);
  right: -300px;
  bottom: 0;
  background: white;
  width: 300px;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  font: 14px/1.42857143 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
#keditor-sidebar:hover {
  opacity: 1;
}
#keditor-sidebar-toggler {
  position: absolute;
  top: 100px;
  width: 25px;
  height: 30px;
  left: -25px;
  background: white;
  text-align: center;
  line-height: 30px;
  border-right: 0;
  cursor: pointer;
  border-radius: 8px 0 0 8px;
  color: #666;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.15);
}
#keditor-sidebar-toggler > i.fa {
  line-height: inherit;
}
/* ==================================================================================
   KEditor Tab
   ================================================================================== */
.keditor-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-bottom:10px;
}
.keditor-tabs .keditor-tab {
  display: table-cell;
  width: 1%;
  position: relative;
}
.keditor-tabs .keditor-tab a {
  display: block;
  border-radius: 8px;
  height: 42px;
  padding: 10px 5px;
  text-align: center;
  border: 1px solid transparent;
  color: #aaa;
}
.keditor-tabs .keditor-tab.active a {
  font-weight: bold;
  color: #333;
  background-color: rgb(230, 230, 230);
}
/* ==================================================================================
   KEditor Tab Contents
   ================================================================================== */
.keditor-tabs-content .keditor-tab-content {
  display: none;
}
.keditor-tabs-content .keditor-tab-content.active {
  display: block;
}
/* ==================================================================================
   Snippets
   ================================================================================== */
#keditor-snippets-list {
  height: 100%;
}
#keditor-snippets-list .keditor-snippet:hover {
  border-color: #ccc;
  background-color: rgb(230, 230, 230);
}
#keditor-snippets-list .keditor-snippet.not-matched {
  display: none;
}
#keditor-snippets-container {
  height: calc(100% - 42px);
  background: #fff;
  border-width: 0 1px 1px;
}
#keditor-snippets-container > .keditor-tab-content {
  height: 100%;
}
#keditor-snippets-container > .keditor-tab-content > .keditor-tab-content-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#keditor-snippets-container > .keditor-tab-content > .keditor-tab-content-inner:before,
#keditor-snippets-container > .keditor-tab-content > .keditor-tab-content-inner:after {
  content: " ";
  display: table;
}
#keditor-snippets-container > .keditor-tab-content > .keditor-tab-content-inner:after {
  clear: both;
}
#keditor-snippets-container > .keditor-tab-content > .keditor-snippets-filter-wrapper .keditor-snippets-filter,
#keditor-snippets-container > .keditor-tab-content > .keditor-snippets-filter-wrapper .keditor-snippets-search {
  border: 1px solid #ddd;
  height: 34px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

#keditor-snippets-container > .keditor-tab-content > .keditor-snippets-filter-wrapper + .keditor-tab-content-inner {
  height: calc(100% - 100px);
  padding:0px 5px 15px 5px;
}

#keditor-snippets-container > .keditor-tab-content > .keditor-snippets-filter-wrapper {
  padding: 0px 5px 0px 5px;
}

.keditor-snippet {
  line-height: 1.5;
  padding: 5px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  cursor: move;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #fff;
  margin: 5px 0px 5px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
  display: flex;
  align-items: center; /* Y 축 기준으로 중앙 정렬 */
}
.keditor-snippet img {
  display: block;
}
.keditor-snippet:last-child {
  margin-bottom: 0;
}
/* ==================================================================================
   Settings panel
   ================================================================================== */
#keditor-setting-panel {
  background: #fff;
  position: absolute;
  z-index: 1001;
  top: 10px;
  width: calc(100% - 20px);
  right: -100%;
  bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.opened-keditor-setting #keditor-setting-panel {
  right: 10px;
}
#keditor-setting-header {
  height: 42px;
  border-bottom: 1px solid #ddd;
  padding: 10px 30px 10px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#keditor-setting-header:before,
#keditor-setting-header:after {
  content: " ";
  display: table;
}
#keditor-setting-header:after {
  clear: both;
}
#keditor-setting-title {
  color: #666;
  font-weight: bold;
}
#keditor-setting-closer {
  text-decoration: none;
  color: #999999;
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  width: 21px;
  text-align: center;
  line-height: 21px;
}
#keditor-setting-closer:hover {
  color: #666;
}
#keditor-setting-body {
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}
#keditor-setting-forms {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#keditor-setting-forms .keditor-setting-form {
  overflow: hidden;
  display: none;
  min-height: 100%;
}
#keditor-setting-forms .keditor-setting-form.active {
  display: block;
}
/* ==================================================================================
   Toolbar
   ================================================================================== */
.keditor-toolbar {
  position: absolute;
  display: none;
  font: 14px/1.42857143 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.keditor-toolbar > a {
  padding: 1px 3px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
}
.keditor-toolbar > a .fa {
  line-height: inherit;
}
.keditor-toolbar .btn-container-reposition,
.keditor-toolbar .btn-component-reposition {
  cursor: move;
}
/* ==================================================================================
   Container
   ================================================================================== */
.keditor-container {
  position: relative;
}
.keditor-container:before {
  position: absolute;
  top: -5px;
  right: 0px;
  left: 0px;
  bottom: -5px;
  border: 3px dashed transparent;
  content: " ";
  display: block;
  padding:5px;
}
.keditor-container > .keditor-toolbar {
  border-radius: 3px;
  overflow: hidden;
  padding:4px;
  left:-38px;
  top:-10px;
}
.keditor-container > .keditor-toolbar > a {
  color: #666;
  border-radius: 3px;
  border: solid 0.5px rgba(0, 0, 0, 0.15);
  display: flex; /* Flexbox 사용 */
  align-items: center; /* Y 축 기준으로 중앙 정렬 */
  justify-content: center; /* X 축 기준으로 중앙 정렬 */
}
.keditor-container > .keditor-toolbar > a:hover {
  background: rgb(var(--v-theme-primary), 0.15) !important;
}
.keditor-container:hover:before {
  border-color: rgb(var(--v-theme-primary));
}
.keditor-container.showed-keditor-toolbar:before {
  border:3px dashed rgb(var(--v-theme-primary)) !important;
}
.keditor-container.showed-keditor-toolbar > .keditor-toolbar {
  display: block;
}
.keditor-container-content {
  min-height: 40px !important;
  position: relative;
}
.keditor-container-content:before {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  content: " ";
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
}

.keditor-container-content .keditor-component {
  margin-bottom:10px;
  padding:5px;
}
/* ==================================================================================
   Component
   ================================================================================== */
.keditor-component {
  position: relative;
}
.keditor-component:before {
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom: -2px;
  content: " ";
  border: 2px solid rgb(var(--v-theme-primary));
  display: none;
  z-index: 1;
}
.keditor-component .keditor-toolbar {
  top: -30px;
  right: -2px;
  left: -2px;
  background: rgb(var(--v-theme-primary)) !important;
  text-align: right;
  border-radius: 8px 8px 0px 0px;
}
.keditor-component .keditor-toolbar > a {
  border: 0;
  background: none;
  color: #fff;
  text-align: center;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.keditor-component .keditor-toolbar > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.keditor-component .keditor-component-content {
  position: relative;
  z-index: 2;
}
.keditor-component:hover:before,
.keditor-component.showed-keditor-toolbar:before {
  display: block;
}
.keditor-component.showed-keditor-toolbar .keditor-component-content {
  outline: none !important;
}
.keditor-component:hover {
  z-index: 2;
}
.keditor-component:hover:before {
  border-top: 0;
}
.keditor-component:hover .keditor-toolbar {
  display: block;
}
/* ==================================================================================
   Drag n Drop helper
   ================================================================================== */
.keditor-snippet.ui-draggable-dragging {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}


/* 화면정의 오른쪽 편집창에서 끌어다 넣을때 생기는 hover 영역 */
.ui-sortable-placeholder {
  background: rgb(var(--v-theme-primary), 0.15) !important;
  visibility: visible !important;
  height: 40px !important;
  float: none !important;
  outline: none !important;
}


.keditor-section.ui-sortable-helper {
  background: #fff !important;
  opacity: 0.5;
}

/* 이미지 우측에 설명을 넣기위해 추가 */
.keditor-snippet-title {
    display: inline-block; /* inline-block으로 설정 */
    margin: 0px 0px 0px 5px;
    vertical-align: middle; /* Align text vertically with the image */
    font-size: 12px; /* Adjust font size as needed */
    color: gray; /* Adjust text color as needed */
    display: flex; /* Flexbox 사용 */
    align-items: center; /* Y 축 기준으로 가운데 정렬 */
}

/* 화면정의 오른쪽 편집창에서 끌어다 넣는 영역 */
.mashup-hover {
  position: relative;
  top: -65px;
  margin:0px 40px;
}

.keditor-ui .v-text-field .v-input__details {
  display: none;
}

.keditor-ui .v-text-field .v-field--no-label input, 
.keditor-ui .v-text-field .v-field--active input {
  border:none !important;
}