h1, h2, h3, h4, h5, h6 {
    margin:0px !important;
}

hr {
    opacity: 1 !important;
}

.tenant-back-btn {
    position:absolute;
    left:15px; top:15px;
}

.no-bpmn-found-text {
    margin-left:18px;
}

.processVariables-zoom {
    position: absolute;
    right: 5px;
    top: 20px;
    z-index: 1;
}

.proc-menu-btn-box button {
    margin-right:3px;
    cursor: pointer;
    background: none;
    width:20px !important;
    height:20px !important;
}

.definitionMap-add-card { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.vue-bpmn-diagram-container {
    height: 100%;
    width: 100%;
}

.edit-process-text-field .v-input__details{
    display: none;
}

.highlight:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #68369A !important;
    /* fill: #68369A !important; */
}

.highlight:not(.djs-connection) .djs-visual> :nth-child(2) {
    /* fill: #ffffff !important; */
}

/* 팔레트 커스텀 부분 */
.vue-bpmn-diagram-container .separator {
    display: none;
}

/* 프로스레스바 스타일  (시작)*/
.my-progress-linear .v-progress-linear__indeterminate {
    background: linear-gradient(to right, #E1F5FE, #80DEEA, #1565C0) !important;
}
/* 프로스레스바 스타일  (끝)*/

/* .vue-bpmn-diagram-container .djs-direct-editing-parent {
    width:80px !important;
    height:60px !important;
} */

/* bpm .bpmn-icon-screw-wrench 아이콘 나타나지 않아 넣어둔 부분 */
.bpmn-icon-screw-wrench {
    background: url(../images/bpmn/icon/support.png) !important;
    background-size: 20px 20px !important; /* 이미지를 요소 안에 맞춤, 이미지가 잘릴 수 있음 */
    background-repeat: no-repeat !important; /* 이미지 반복 없음 */
    background-position: center !important;
}

.bpmn-icon-screw-wrench:hover {
    background-color:rgba(0, 0, 0, 0.05) !important;
}
/* bpm .bpmn-icon-screw-wrench 아이콘 나타나지 않아 넣어둔 부분 */

.vue-bpmn-diagram-container .djs-palette {
    width: 695px !important;
    height: 50px;
    left:5px; top:5px;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
}

.vue-bpmn-diagram-container .djs-context-pad .entry {
    width: 30px;
    height: 30px;
    /* border: solid 1px rgba(124, 124, 124, 0.3); */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.vue-bpmn-diagram-container .djs-context-pad .group {
    min-width: 100px;
}

.chat-display-none {
    display: none;
    height: 100vh !important;
    width:100%;
}
.chat-display-block {
    display: block;
}

.canvas-full-layout {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index:1007 !important;
}

.mainbox {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 155px);
}

.task-btn{
    position: absolute;
    top: 10px;
    right: 5px
}

.centered-input:deep(input) {
    text-align: center;
}

.centered-input {
    margin-right:10px;
}

.form-dialog-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-apply-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.form-layout-card {
    margin-bottom: 5px;
    border-radius: 8px !important;
}


.process-variable-tbody tr td {
    height:24px !important;
}

.process-variable-tbody .v-data-table-footer {
    padding:0px !important;
}

#apexTreeWrapper {
    height: 100% !important;
}

#apexTreeWrapper > svg{
    height: 98% !important;
    width: 100% !important;
}

@media only screen and (max-width:1450px) {
    .vue-bpmn-diagram-container .djs-palette {
        width: 375px !important;
        height: 94px !important;
    }
}

@media only screen and (max-width:550px) {
    .vue-bpmn-diagram-container .djs-palette {
        width: 230px !important;
        height:135px !important;
    }
}

.is-sidebar-mobile {
    display: none;
}
@media only screen and (max-width:1279px) {
    .is-sidebar-pc {
        display: none;
    }
    .is-sidebar-mobile {
        display: block;
    }
}



