h1, h2, h3, h4, h5, h6 {
    margin:0px !important;
}

hr {
    opacity: 1 !important;
}

.tenant-back-btn {
    position:absolute;
    left:15px; top:15px;
}

.no-bpmn-found-text {
    margin-left:18px;
}

.processVariables-zoom {
    position: absolute;
    right: 5px;
    top: 20px;
    z-index: 1;
}

.proc-menu-btn-box button {
    margin-right:3px;
    cursor: pointer;
    background: none;
    width:20px !important;
    height:20px !important;
}

.definitionMap-add-card { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.vue-bpmn-diagram-container {
    height: 100%;
    width: 100%;
}

.highlight:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #68369A !important;
    /* fill: #68369A !important; */
}

@keyframes running-animation {
    0% {
        stroke-dashoffset: 80;
        stroke: #68369A;
    }
    50% {
        stroke-dashoffset: 40;
        stroke: #68369A;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #68369A;
    }
}

.running:not(.djs-connection):not(.generated) .djs-visual > :nth-child(2) {
    stroke-width: 5px !important;
    stroke-dasharray: 20, 20 !important;
    animation: running-animation 1.5s linear infinite;
}

.completed:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #68369A !important;
}

.stopped:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #e53935 !important;
}

.cancelled:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #e53935 !important;
}

/* 팔레트 커스텀 부분 */
.vue-bpmn-diagram-container .separator {
    display: none;
}

/* 프로스레스바 스타일  (시작)*/
.my-progress-linear .v-progress-linear__indeterminate {
    background: linear-gradient(to right, #E1F5FE, #80DEEA, #1565C0) !important;
}
/* 프로스레스바 스타일  (끝)*/

/* .vue-bpmn-diagram-container .djs-direct-editing-parent {
    width:80px !important;
    height:60px !important;
} */

.vue-bpmn-diagram-container .djs-direct-editing-parent {
    background-color: inherit !important;
    border: none !important;
    border-radius: 8px;
}

/* bpm .bpmn-icon-screw-wrench 아이콘 나타나지 않아 넣어둔 부분 */
.bpmn-icon-screw-wrench {
    background: url(../images/bpmn/icon/support.png) !important;
    background-size: 20px 20px !important; /* 이미지를 요소 안에 맞춤, 이미지가 잘릴 수 있음 */
    background-repeat: no-repeat !important; /* 이미지 반복 없음 */
    background-position: center !important;
    background-color:white !important;
}
/* bpm .bpmn-icon-screw-wrench 아이콘 나타나지 않아 넣어둔 부분 */

.djs-palette .djs-palette-entries .group .entry:hover {
    color: rgb(var(--v-theme-primary)) !important;
}

.vue-bpmn-diagram-container .djs-palette {
    width: 740px !important;
    height: 50px;
    left:5px; top:5px;
    border: none;
    background-color: transparent;
    /* border-radius: 10px; */
    /* background-color: white; */
    /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1); */
}

.vue-bpmn-diagram-container .djs-context-pad .entry {
    width: 30px;
    height: 30px;
    /* border: solid 1px rgba(124, 124, 124, 0.3); */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.vue-bpmn-diagram-container .djs-context-pad .group {
    min-width: 100px;
}

.vue-bpmn-diagram-container .djs-context-pad .group > div:hover {
    background-color: #E0E0E0 !important;
}

.chat-display-none {
    display: none;
    height: 100vh !important;
    width:100%;
}
.chat-display-block {
    display: block;
}

.canvas-full-layout {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index:1007 !important;
}

.mainbox {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 155px);
}

.task-btn{
    position: absolute;
    top: 10px;
    right: 5px
}

.work-item-dialog-card .task-btn {
    position: relative;
    top: 12px !important;
    right: 18px !important;
}

.centered-input:deep(input) {
    text-align: center;
}

.centered-input {
    margin-right:10px;
}

.form-dialog-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-apply-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.form-layout-card {
    margin-bottom: 5px;
    border-radius: 8px !important;
}


.process-variable-tbody tr td {
    height:24px !important;
}

.process-variable-tbody .v-data-table-footer {
    padding:0px !important;
}

.user-task-panel-check-points .check-points-field-box {
    height: 300px;
    overflow: auto;
}

.icon-rotate-90 {
    transform: rotate(90deg);
}
.icon-rotate-180 {
    transform: rotate(180deg);
}
.icon-rotate-270 {
    transform: rotate(270deg);
}

.node-content-text-box {
    margin-top: 15px; 
    text-align: center; 
    padding: 10px; 
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-top: 5px solid rgba(var(--v-theme-primary));
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.node-content-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position:absolute;
    top:0px;
    background-color: #E0E0E0;
}

.process-consulting-chat-layout-card {
    height: 95vh;
}

.process-consulting-chat-layout-card .process-consulting-chat-components .chat-info-title {
    display: none;
}

.process-consulting-chat-layout-card .chat-view-box {
    height:200px !important;
    overflow: auto;
}

.delete-input-details .v-input__details {
    display: none !important;
}

.delete-input-details .form-text-field .v-input__details {
    display: block !important;
}

.message-input-box .v-field__prepend-inner {
    height:40px;
}

.row-layout-box {
    max-height:320px;
    overflow: auto;
}

.row-layout-box > div{
    border:solid 1px #D1D1D1;
    margin-bottom:10px;
    border-radius: 8px;
}

.work-itme-current-component .v-checkbox .v-input__details {
    display: none;
}
.work-itme-current-component .v-checkbox {
    height: 40px;
}
.work-itme-current-component .v-checkbox label {
    opacity: 0.6 !important;
}
.work-itme-current-component .form-checkbox-label {
    font-size: 20px;
    font-weight: 500;
}
.work-itme-current-component .form-radio-field .v-radio-group {
    margin-top: 8px;
}
.work-itme-current-component .form-radio-field .form-radio-label {
    font-size: 20px;
    font-weight: 500;
}

.work-itme-current-component .form-label {
    font-size: 20px;
    font-weight: 500;
}

.processExecute {
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 1;
}

.process-definition-chat-btn-set {
    margin-right:20px;
    display: inline-block;
}

.test-variables-table-box tr {
    border: solid 2px black !important;
}

#apexTreeWrapper {
    height: 100% !important;
}

#apexTreeWrapper > svg {
    height: 98% !important;
    width: 100% !important;
}

#apexTreeWrapper #toolbar {
    gap:0px !important;
}

#apexTreeWrapper #toolbar #zoom-in,
#apexTreeWrapper #toolbar #zoom-out,
#apexTreeWrapper #toolbar #fit-screen,
#apexTreeWrapper #toolbar #export {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    margin:0 2px 2px 0;
    border: none !important;
}

#apexTreeWrapper #toolbar #zoom-in:hover,
#apexTreeWrapper #toolbar #zoom-out:hover,
#apexTreeWrapper #toolbar #fit-screen:hover,
#apexTreeWrapper #toolbar #export:hover {
    background: rgb(var(--v-theme-primary), 0.15) !important;
}

.apextree-node > div {
    border: none !important;
}

.node-content-btn-box {
    position: absolute;
    right:5px;
    top:32px;
}

.node-content-btn {
    width:16px;
    height:16px;
    cursor: pointer;
}
.edit-team-btn {
    width:13px;
    height:13px;
    position: relative;
    top:-1px;
}



/* skeleton 관련 style */

.main-page-skeleton .v-skeleton-loader__heading,
.execute-skeleton-top .v-skeleton-loader__heading,
.execute-skeleton-bottom .v-skeleton-loader__heading,
.dry-run-process-skeleton .v-skeleton-loader__heading,
.test-process-skeleton .v-skeleton-loader__heading,
.test-process-work-list-skeleton .v-skeleton-loader__heading {
    display: none;
}

.main-page-skeleton .v-skeleton-loader__image {
    height:97vh;
}

.main-page-skeleton .main-page-skeleton-right1 {
    margin-bottom:28px;
}

.main-page-skeleton .main-page-skeleton-right1 .v-skeleton-loader__image {
    height:9vh;
}

.main-page-skeleton .main-page-skeleton-right2 .v-skeleton-loader__image {
    height:84vh;
}

.execute-skeleton-bottom .v-skeleton-loader__image {
    height:65vh;
}

.dry-run-process-skeleton .v-skeleton-loader__image {
    height:70vh;
}

.test-process-skeleton .v-skeleton-loader__image {
    height:75vh;
}

.execute-skeleton-bottom .v-skeleton-loader__image {
    height:65vh;
}


.test-process-work-list-skeleton .v-skeleton-loader__image {
    height:70vh;
}
@media only screen and (max-width:1450px) {
    .vue-bpmn-diagram-container .djs-palette {
        width: 375px !important;
        height: 94px !important;
    }
}

@media only screen and (max-width:550px) {
    .vue-bpmn-diagram-container .djs-palette {
        width: 230px !important;
        height:185px !important;
    }
}

.is-sidebar-mobile {
    display: none;
}
@media only screen and (max-width:1279px) {
    .is-sidebar-pc {
        display: none;
    }
    .is-sidebar-mobile {
        display: block;
    }
}



