h1, h2, h3, h4, h5, h6 {
    margin:0px !important;
}

hr {
    opacity: 1 !important;
}

.tenant-back-btn {
    position:absolute;
    left:15px; top:15px;
}

.no-bpmn-found-text {
    margin-left:18px;
}

.processVariables-zoom {
    position: absolute;
    right: 5px;
    top: 20px;
    z-index: 1;
}

.proc-menu-btn-box button {
    margin-right:3px;
    cursor: pointer;
    background: none;
    width:20px !important;
    height:20px !important;
}

.definitionMap-add-card { 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

.vue-bpmn-diagram-container {
    height: 100%;
    width: 100%;
}

.highlight:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #68369A !important;
    /* fill: #68369A !important; */
}


.border-animation {
    padding: 3px;
    background-image: 
        linear-gradient(90deg, rgb(var(--v-theme-primary))  50%, transparent 50%),
        linear-gradient(90deg, rgb(var(--v-theme-primary))  50%, transparent 50%),
        linear-gradient(0deg, rgb(var(--v-theme-primary))  50%, transparent 50%),
        linear-gradient(0deg, rgb(var(--v-theme-primary))  50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 3px, 15px 3px, 3px 15px, 3px 15px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: border-dance 1s infinite linear;
    border-radius: 20px;
}

@keyframes border-dance {
    0% {
        background-position: 0 0, 0 100%, 0 0, 100% 0;
    }
    100% {
        background-position: 30px 0, -30px 100%, 0 -30px, 100% 30px;
    }
}

@keyframes running-animation {
    0% {
        stroke-dashoffset: 80;
        stroke: #68369A;
    }
    50% {
        stroke-dashoffset: 40;
        stroke: #68369A;
    }
    100% {
        stroke-dashoffset: 0;
        stroke: #68369A;
    }
}

@keyframes line-running-animation {
    0% {
        stroke-dashoffset: 30;
        stroke: #68369A;
    }
    100% {
        stroke-dashoffset: -30;
        stroke: #68369A;
    }
}

.completed.djs-connection .djs-visual > path {
    stroke: #68369a !important;
}

.completed.djs-connection .djs-visual > defs > marker > path {
    stroke: #68369a !important;
    fill: #68369a !important;
}

.running-task-line.djs-connection .djs-visual > path {
    stroke-width: 3px !important;
    stroke-dasharray: 18, 12 !important;
    animation: line-running-animation 1.5s linear infinite !important;
}

.running-task-line.djs-connection .djs-visual > defs > marker > path {
    stroke: #68369A !important;
    fill: #68369A !important;
}

.running:not(.djs-connection):not(.generated) .djs-visual > :nth-child(2) {
    stroke-width: 5px !important;
    stroke-dasharray: 20, 20 !important;
    animation: running-animation 1.5s linear infinite;
}

.completed:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #68369A !important;
}

.stopped:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #e53935 !important;
}

.cancelled:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #e53935 !important;
}

.error.djs-connection .djs-visual > path {
    stroke: #ff0000 !important;
}

.error.djs-connection .djs-visual > defs > marker > path {
    stroke: #ff0000 !important;
    fill: #ff0000 !important;
}


.error:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #ff0000 !important;
    stroke-dasharray: 10, 10 !important;
}


.warning.djs-connection .djs-visual > path {
    stroke: #ffa500 !important;
}

.warning.djs-connection .djs-visual > defs > marker > path {
    stroke: #ffa500 !important;
    fill: #ffa500 !important;
}


.warning:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke-width: 5px !important;
    stroke: #ffa500 !important;
    stroke-dasharray: 10, 10 !important;
}


/* 팔레트 커스텀 부분 */
.vue-bpmn-diagram-container .separator {
    display: none;
}

/* 프로스레스바 스타일  (시작)*/
.my-progress-linear .v-progress-linear__indeterminate {
    background: linear-gradient(to right, #E1F5FE, #80DEEA, #1565C0) !important;
}
/* 프로스레스바 스타일  (끝)*/

/* .vue-bpmn-diagram-container .djs-direct-editing-parent {
    width:80px !important;
    height:60px !important;
} */

.vue-bpmn-diagram-container .djs-direct-editing-parent {
    background-color: inherit !important;
    border: none !important;
    border-radius: 8px;
}

/* bpm .bpmn-icon-screw-wrench 아이콘 나타나지 않아 넣어둔 부분 */
.bpmn-icon-screw-wrench {
    background: url(../images/bpmn/icon/support.png) !important;
    background-size: 20px 20px !important; /* 이미지를 요소 안에 맞춤, 이미지가 잘릴 수 있음 */
    background-repeat: no-repeat !important; /* 이미지 반복 없음 */
    background-position: center !important;
    background-color:white !important;
}
/* bpm .bpmn-icon-screw-wrench 아이콘 나타나지 않아 넣어둔 부분 */

.djs-palette .djs-palette-entries .group .entry:hover {
    color: rgb(var(--v-theme-primary)) !important;
    cursor: pointer !important;
}

.vue-bpmn-diagram-container .djs-palette {
    width: 740px !important;
    height: 50px;
    left:5px; top:5px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}


.dry-run-process-dialog {
    max-width: 100vw !important; 
    height: 100vh !important;
}

.dry-run-process-dialog .v-overlay__content {
    margin: 0px !important; 
    max-width: 100vw !important; 
    height: 100vh !important;
    width: 100vw !important; 
    max-height: 100vh !important;
}

.dry-run-process-dialog .v-overlay__content .dry-run-process-card {
    height: 100vh !important;
    width: 100vw !important;
}

.dry-run-process-dialog .v-overlay__content .dry-run-process-card .dry-run-process-card-title {
    display: none;
}

.dry-run-process-dialog .v-overlay__content .dry-run-process-card .dry-run-process-card-text {
    padding: 0px !important;
}

.vue-bpmn-diagram-container .djs-context-pad .entry {
    width: 30px;
    height: 30px;
    /* border: solid 1px rgba(124, 124, 124, 0.3); */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.7);
}

.djs-palette .entry {
    font-size: 24px !important;
}

.vue-bpmn-diagram-container .djs-context-pad .group {
    min-width: 100px;
}

.vue-bpmn-diagram-container .djs-context-pad .group > div:hover {
    background-color: #E0E0E0 !important;
}

.chat-display-none {
    display: none;
    height: 100vh !important;
    width:100%;
}
.chat-display-block {
    display: block;
}

.border-primary {
    border: solid 3px #1976D2; /* 예시 색상, 실제 프로젝트의 primary 색상을 사용하세요 */
}
.border-purple {
    border: solid 3px #7B1FA2;
}

.canvas-full-layout {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 100%;
    min-height: 100%;
    z-index:1007 !important;
}

.mainbox {
    position: relative;
    overflow: hidden;
}

.task-btn{
    position: absolute;
    top: 10px;
    right: 5px
}

.work-item-dialog-card .task-btn {
    position: relative;
    top: 12px !important;
    right: 18px !important;
}

.centered-input:deep(input) {
    text-align: center;
}

.centered-input {
    margin-right:10px;
}

.form-dialog-close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
}

.form-apply-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.form-layout-card {
    border-radius: 8px !important;
}


.process-variable-tbody tr td {
    height:24px !important;
}

.process-variable-tbody .v-data-table-footer {
    padding:0px !important;
}

.user-task-panel-check-points .check-points-field-box {
    overflow: auto;
}

.icon-rotate-90 {
    transform: rotate(90deg);
}
.icon-rotate-180 {
    transform: rotate(180deg);
}
.icon-rotate-270 {
    transform: rotate(270deg);
}

.node-content-text-box {
    margin-top: 15px; 
    text-align: center; 
    padding: 10px; 
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border-top: 5px solid rgba(var(--v-theme-primary));
    height: 80px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.node-content-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position:absolute;
    top:0px;
    background-color: #E0E0E0;
}

.process-consulting-chat-layout-card {
    height: 95vh;
}

.process-consulting-chat-layout-card .process-consulting-chat-components .chat-info-title {
    display: none;
}

.delete-input-details .v-input__details {
    display: none !important;
}

.delete-input-details .form-text-field .v-input__details {
    display: block !important;
}

.message-input-box {
    font-size: 20px !important;
    max-height: 180px;
    overflow: auto;
    width: 100%;
}

.message-input-box .v-field__prepend-inner {
    height:40px;
}

.row-layout-box {
    max-height:320px;
    overflow: auto;
}

.user-input-generator-textarea {
    margin: 4px !important;
}

.agent-field-User-input-generator .user-input-generator-textarea .v-field__field {
    max-height: calc(100vh - 420px);
    overflow-y: auto;
}

.agent-field-skeleton .v-skeleton-loader__image {
    border-radius: 10px !important;
    height: 40vh !important;
}

.row-layout-box > div{
    border:solid 1px #D1D1D1;
    margin-bottom:10px;
    border-radius: 8px;
}

.work-itme-current-component .v-checkbox .v-input__details {
    display: none;
}
.work-itme-current-component .v-checkbox {
    height: 40px;
}
.work-itme-current-component .v-checkbox label {
    opacity: 0.6 !important;
}
.work-itme-current-component .form-checkbox-label {
    font-size: 20px;
    font-weight: 500;
}
.work-itme-current-component .form-radio-field .v-radio-group {
    margin-top: 8px;
}
.work-itme-current-component .form-radio-field .form-radio-label {
    font-size: 20px;
    font-weight: 500;
}

.work-itme-current-component .form-label {
    font-size: 20px;
    font-weight: 500;
}

.processExecute {
    position: absolute;
    right: 80px;
    top: 20px;
    z-index: 1;
}

.test-variables-table-box tr {
    border: solid 2px black !important;
}

#apexTreeWrapper {
    height: 100% !important;
}

#apexTreeWrapper > svg {
    height: 98% !important;
    width: 100% !important;
}

#apexTreeWrapper #toolbar {
    gap:0px !important;
}

#apexTreeWrapper #toolbar #zoom-in,
#apexTreeWrapper #toolbar #zoom-out,
#apexTreeWrapper #toolbar #fit-screen,
#apexTreeWrapper #toolbar #export {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin:0 4px 2px 0;
    border: none !important;
}

#apexTreeWrapper #toolbar #zoom-in:hover,
#apexTreeWrapper #toolbar #zoom-out:hover,
#apexTreeWrapper #toolbar #fit-screen:hover,
#apexTreeWrapper #toolbar #export:hover {
    background-color: #E0E0E0 !important;
}

.apextree-node > div {
    border: none !important;
}

.node-content-btn-box {
    position: absolute;
    right: 0px;
    top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.node-content-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 2px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(60, 60, 60, 0.10), 0 0.5px 1.5px 0 rgba(60, 60, 60, 0.10);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 0.2s, background-color 0.2s;
    padding: 4px !important;
}
.node-content-btn:hover {
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgba(60, 60, 60, 0.15);
}



/* skeleton 관련 style */

.main-page-skeleton .v-skeleton-loader__heading,
.execute-skeleton-top .v-skeleton-loader__heading,
.execute-skeleton-bottom .v-skeleton-loader__heading,
.dry-run-process-skeleton .v-skeleton-loader__heading,
.test-process-skeleton .v-skeleton-loader__heading,
.test-process-work-list-skeleton .v-skeleton-loader__heading {
    display: none;
}

.main-page-skeleton .v-skeleton-loader__image {
    height:97vh;
}

.main-page-skeleton .main-page-skeleton-right1 {
    margin-bottom:28px;
}

.main-page-skeleton .main-page-skeleton-right1 .v-skeleton-loader__image {
    height:9vh;
}

.main-page-skeleton .main-page-skeleton-right2 .v-skeleton-loader__image {
    height:84vh;
}

.execute-skeleton-bottom .v-skeleton-loader__image {
    height:65vh;
}

.dry-run-process-skeleton .v-skeleton-loader__image {
    height:70vh;
}

.test-process-skeleton .v-skeleton-loader__image {
    height:75vh;
}

.execute-skeleton-bottom .v-skeleton-loader__image {
    height:65vh;
}


.test-process-work-list-skeleton .v-skeleton-loader__image {
    height:70vh;
}

.process-title-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-border .v-field__outline {
    display: none;
}
.instance-select-box {
    border: none;
    cursor: pointer;
    color:white;
    background-color: rgb(var(--v-theme-primary), 0.8) !important;
    border-radius: 10px;
    text-align: center;
    padding: 4px;
    font-size: 12px;
    width: 96px;
}

/* 선택된 배경색을 나타내는 클래스 - 영어로 'choice'로 변경 */
.choice-background-color {
    background-color: rgb(var(--v-theme-primary)) !important;
    color: white;
}

.instance-select-box:focus {
    background-color: #f5f5f5; /* 포커스 시 색상 */
}


/* 채팅 레이아웃 관련 UI 시작 */
.process-definition-map-chat .chat-view-box-col {
    height: 70vh;
}

.chat-info-view-wrapper-chats {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0; /* 중요! 안 주면 flexbox에서 스크롤 안 생기는 경우 있음 */
}

.mobile-left-menu {
    display: flex;
    flex-direction: column;
    height: 100%
}

.feedback-form .form-definition-box,
.feedback-form .form-definition-chat-box {
    display: flex !important;
    flex-direction: column !important;
    height: 100% !important;
}

.chat-info-view-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-info-view-area {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}
/* 헤더 영역 */
.chat-info-header {
    flex: 0 0 auto;
}

/* 중간 텍스트 박스영역 */
.chat-view-box {
    flex: 1 1 auto;
}



/* 채팅창 입력 및 버튼 영역 */
.chat-info-message-input-box {
    flex: 0 0 auto;
}
/* 채팅 레이아웃 관련 UI 끝  */




.no-scrollbar {
    height: 100% !important;
}

.instance-card-kanban-board .todo-list-card-box {
    height: calc(100vh - 360px) !important;
}
    
.is-work-height {
    height: calc(100vh - 131px);
}

.mobile-side-bar-btn {
    position: fixed;
    left: 16px;
    bottom: 48px;
    z-index: 999;
}
.todolist-card-box {
    padding: 4px !important;
    height: calc(100vh - 130px);
    overflow: auto;
}
.todolist-card-box-is-mobile {
    height: 100vh;
    overflow: auto;
}

.instance-card-kanban-board-box {
    height: calc(100vh - 248px);
}

.todo-list-card-box > div {
    width:100%;
    height:100%;
}

.todo-list-card-box {
    height: calc(100vh - 220px);
    overflow: auto;
}


.main-search-box {
    max-width: 400px;
    width: 90vw;
}

.notification-dd-box {
    max-width: 400px;
    width: 90vw;
}

.mobile-menu-nav {
    top: 111px !important;
    width: 300px !important;
    height: calc(100% - 111px) !important;
    border-radius: 10px !important;
}

.add-marketplace-dialog-input-box {
    max-height: 70vh;
    overflow: auto;
}

.agent-field-dialog-contents {
    max-height: 60vh;
    overflow: auto;
}

.organization-edit-dialog-contents {
    height: calc(-300px + 100vh);
    overflow: auto;
}

.work-item-current-component-box .form-layout-card-contents {
    padding-top: 32px;
}

@media only screen and (max-width: 1450px) {
    .vue-bpmn-diagram-container .djs-palette {
        width: 375px !important;
        height: 94px !important;
    }
}

.is-sidebar-mobile {
    display: none;
}

@media only screen and (max-width: 1279px) {
    .is-sidebar-pc {
        display: none;
    }
    .is-sidebar-mobile {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .todo-list-card-box {
        padding-right: 40px !important;
    }
    .todo-list-card-box {
        max-height: calc(-216px + 100vh) !important;
        min-height: calc(-556px + 100vh) !important;
        height: 100% !important;
        overflow: auto;
    }
    .todo-task-column-box-pc {
        padding-right: 20px !important;
    }
    .instance-card-title {
        padding-top: 16px !important;
    }
    .instance-card-id {
        display: none;
    }
    
    .is-work-height {
        height: 100vh;
    }

    .chat-info-view-wrapper-chats
    .chat-info-message-input-box {
        padding-bottom: 60px;
    } 

    .leftSidebar {
        width: 300px !important;
    }

    .instance-card-kanban-board-box {
        height: 100%;
    }

    .instance-card-kanban-board .todo-list-card-box {
        height: 100vh !important;
    }
    .isMobile-add-todo-dialog {
        height: calc(100vh - 108px);
        overflow: auto;
    }
    .mobile-menu-nav {
        top:0px !important;
        height: calc(100% - 60px) !important;
        border-radius: 10px !important;
        width: 100vw !important;
    }

    .agent-field-dialog-contents {
        height: calc(100vh - 200px);
        overflow: auto;
    }

    .organization-edit-dialog-contents {
        height: calc(100vh - 100px);
        overflow: auto;
    }
}


@media only screen and (max-width:550px) {
    .vue-bpmn-diagram-container .djs-palette {
        width: 230px !important;
        height:185px !important;
    }
}



