apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: process-gpt-ingress
  annotations:
    cert-manager.io/cluster-issuer: issuer
spec:
  ingressClassName: "nginx"
  rules:
  - host: "*.process-gpt.io"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: gateway
            port:
              number: 80
  tls:
  - hosts:
    - '*.process-gpt.io'
    secretName: onprem-tls