apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: langchain-cache-pvc-execution
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Mi
  storageClassName: standard